button {
  width: 200px;
  height: 30px;
  background: skyblue;
  margin: 20px;
}

.page {
  display: flex;
  flex-direction: column;
  align-items: center;
}

canvas {
  border: 3px dashed blue;
}

.canvas-container {
  position: relative;
}

.canvas-container img {
  z-index: 0;
}

.canvas-container canvas {
  z-index: 10;
  position: absolute;
  left: 0;
  top: 0;
  box-sizing: border-box;
}
span {
  font-size: 24px;
  color: green;
  padding: 0 10px;
}
